header{
    
img{
    background-size: cover;
    height: 30rem; 
    width: 50%;
     opacity: 0.5;
}
h2,p{
    color: rgb(2, 10, 1);
  
}

.carousel-item active{
   height: 1rem;
    background-size: cover; 
}
.carousel-item{
   
}

}
#divcontact{
    background-color: crimson;
    text-align: center;  
    min-height: 500px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#bodykontakt{

   

        img { 
       
      width: 70%;
      height: 75rem;
      margin: 0px;
      padding: 0px;
      animation-name: carduri;
      animation-duration: 5s;
      animation-iteration-count: infinite;
        }

        @keyframes carduri{
0%   {border:solid 3px yellowgreen;}
  25%  {border: solid 3px yellow;}
  50%  {border: solid 3px blue;}
  100% {border: solid 3px rgb(218, 47, 69);}

        }

    .text-und{
        text-decoration: underline solid 3px black;
    margin-left: 3rem;
    }
}
main{ 
        img{
            height: 20rem;
            animation-name: carduri;
            animation-duration: 3s;
            animation-iteration-count: infinite;

        }

        p, li{
            font-family: 'Roboto Mono', monospace;
            font-size: 25px;
        }
        h5,h6{ text-transform: uppercase;
            animation-name: litere;
            animation-duration: 3s;
            animation-iteration-count: infinite;
            
        }

        @keyframes litere{
            0%   {color:yellowgreen;}
            25%  {color:  yellow;}
            50%  {color:  blue;}
            100% {color:  red;}
        }
    }


footer{
    div{
        height: 3rem;
        background-color: rgb(165, 160, 160);
    }
}